<%- include("_layouts/header.ejs") %>

<section class="backg py-5 text-center container">
    <div class="showin row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">"Welcome to shoesky"</h2>
        <br>
        <h5>FIND YOUR OUTDOOR ADVENTURE</h5>
        <p class="textintro lead">Get hooked on the feeling of summer. Whether you're in search of thrills, relaxation, or discovery, our latest collection is ready to adapt. It's time to get outside and find your adventure.</p>
        <br>
        <p>
          <a href="/products" class="choose">Choose your new adventure!</a>
        </p>
      </div>
    </div>
</section>

<%- include("_layouts/footer.ejs") %>